# Project exclude paths
/common/common-util/target/
/common/rabbitmq-util/target/
/common/service-util/target/
/model/target/
/service/service-acl/target/
/service/service-activity/target/
/service/service-product/target/
/service/service-search/target/
/service/service-sys/target/
/service-client/service-product-client/target/